@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
 
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: rgb(92, 6, 6);
    color: white;
  }
  .about-area
{
    text-align: center;
    color:rgb(0, 78, 131);
}
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    text-align: center;
  }
  
  
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  

  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }