@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  /* Form outline */
  padding: 1em;
  border: 10px solid #CCC;
  border-radius: 1em;
  background:#ff6666;
}

ul {
  list-style: none;
  padding: 1;
  margin: 1;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 120px;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
    
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 10em;
}



select {
width:65%;
padding:8px 15px;
margin:8px 0;
display:inline-block;
border:1px solid black;
border-radius:4px;
box-sizing:border-box;
}

input[type=submit] {
width:60%;
background:red;
color:white;
padding:8px 20px;
border:none;
border-radius:4px;
cursor:pointer;
}
input[type=submit], hover {
background:#000;
}

input[type=radio] {
width:10%;
padding:8px 15px;
margin:8px 0;
display :inline-block;
border:1px solid #ccc;
border-radius:4px;
box-sizing:border-box;	
}

